<h1>Vantsev Alexander Olegovich</h1>
<h3>P3200</h3>
<h4>Variant 90323</h4>

<div>
  <label>
    <input [(ngModel)]="userEntity.name" placeholder="Enter login">
  </label>
</div>
<div>
  <label>
    <input [(ngModel)]="userEntity.password" type="password" placeholder="Enter password">
  </label>
</div>
<button (click)="logIn()">Log in</button> <button (click)="addUser()">Register</button>
<div class="authResponse">
  {{authResponse}}
</div>

<nav>
  <a routerLink="/main">Main</a>
</nav>
<router-outlet></router-outlet>

