<p>
  Welcome, {{ point.userEntity }}. Again.
</p>


x = {{point.x}}
<mat-slider style="width: 200px; " min="-5" max="3"  value="0" [(ngModel)]="point.x"></mat-slider>
<br>
y = {{point.y}}
<mat-slider style="width: 200px; " min="-3" max="5"  value="0" [(ngModel)]="point.y"></mat-slider>
<br>
r = {{point.r}}
<mat-slider style="width: 200px; " min="-5" max="3"  value="0" step="0.25"
[(ngModel)]="point.r" (change)="drawGraph()"></mat-slider>

<button  (click)="addPoint()">Check</button>
<br>
{{response}}
<div>
  <canvas
    style="position: absolute; top: 0; left: 430px;
    border: 1px dashed black;"
    #canvas on-click="addFromClick($event)" width="600" height="600">
  </canvas>
</div>

<table id="resultTable" style="position: absolute; top:0; left: 1150px;">
  <thead>
    <tr>
      <td>X</td>
      <td>Y</td>
      <td>R</td>
      <td>Hit</td>
    </tr>
  </thead>
  <tbody *ngFor="let p of points">
    <tr>
      <td>{{ p.x}}</td> <td>{{ p.y}}</td> <td>{{ p.r}}</td> <td>{{ p.hit}}</td> 
    </tr>
  </tbody>
</table>



<nav>
  <a routerLink="/start" (click)="logOut()">Log out</a>
</nav>

